{% extends "base_usuario.html" %}
{% block title %}Mis Reservas - Puerto Hermoso{% endblock %}
{% block content %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/button3_comp.html" import button3_comp %}
    {% from "componentes/circle_comp.html" import circle_comp %}
    {% from "componentes/reserva_comp.html" import reserva_comp %}
    <div class="contenedor">
        <div class="header">
            <div class="header-left">
                {{ circle_comp(
                    text="<",
                    size=40,
                    type=3,
                    func="window.location.href='/'"
                ) }}
                <h1>Puerto Hermoso</h1>
            </div>
            <div class="header-right">
                <form action="{{ url_for('auth_front.logout') }}" method="POST">
                    <button type="submit" class="button-default button-delete button-generic">
                        Cerrar sesion
                    </button>
                </form>
                <button class="button-default button-nueva-reserva button-generic"
                    onclick="window.location.href=window.location.pathname.replace('mis_reservas', '')">
                    Nueva reserva
                </button>
            </div>
        </div>        
        <div class="seccion-mis-reservas">
            <h2>Mis Reservas</h2>
            <div class="contenedor-reservas">
                {% for reserva in reservas %}
                    {{ reserva_comp(reserva) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}