{% macro input_comp(
    name="",
    type="text",
    value="",
    id="",
    label="INPUT",
    placeholder="",

    width="400px",
    height="60px",
    min="",
    max="",
    step="",

    required=False,
    disabled=False
) %}
    {% set min_width = height|replace("px", "")|int * ((placeholder|length * 0.25) + 2) %}

<div
    style="
        user-select: none;
        width: max({{ min_width }}px,{{ width }});
        display: flex;
        flex-direction: column;
        gap: calc({{ height }} * 0.1);

    "
>

    <label
        style="
            font-size: calc({{ height }} * 0.65);

            font-weight: bold;

            color: white;

            line-height: 1;
        "
    >
        {{ label }}
    </label>

    <input
            {% if required %}
                required
            {% endif %}
            {% if disabled %}
                disabled
            {% endif %}
            class="dropshadow input-default"
            type="{{ type }}"
            name="{{ name }}"
            value="{{ value }}"
            {% if id %} id="{{ id }}" {% endif %}
            {% if placeholder %}placeholder="{{ placeholder }}" {% endif %}
            {% if type == "number" %} min="1" {% endif %}
            {% if type == "time" %} 
            min="{{ min }}" 
            max="{{ max }}"
            step="{{ step }}"
            {% endif %}
            style="
                height: {{ height }};

                padding-left: calc({{ height }} * 0.4);

                border-radius: calc({{ height }} * 0.2);

                font-size: calc({{ height }} * 0.5);

            "
            required
    >

</div>

{% endmacro %}