<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; color: #333333; line-height: 1.6; background-color: #f9f9f9; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 8px;">
      <div style="text-align: center">      
      <h1>¡Hola!</h1>
      <p>Gracias por elegir nuestro restaurante y realizar una reserva.</p>
      <p style="margin-bottom: 10px;">Escanear el QR que llega como adjunto en este mail el dia que asista al restaurante.</p>
      

       <p style="font-size: 13px; color: #666666; margin-bottom: 15px;">Si desea cancelar la reserva:</p>            
        <a href="{url_cancelar}" target="_blank" style="
            background-color: #2b7a78; 
            color: #ffffff; 
            text-decoration: none; 
            padding: 12px 24px; 
            border-radius: 4px; 
            display: inline-block; 
            font-weight: bold;
            font-size: 14px;
        ">
        CANCELAR RESERVA
        </a>
      </div>
    </div>
  </body>
</html>