{% extends "dashboard/base.html" %}

{% block content %}

<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <h1 style="width: 70%">RESERVAS</h1>
</div>

    {% from "componentes/tabla_comp.html" import tabla_comp %}
    {% from "componentes/input_comp.html" import input_comp %}
    {% from "componentes/button1_comp.html" import button1_comp %}
    {% from "componentes/select_comp.html" import select_comp %}

    {{ tabla_comp(
        id="table-empty",
        columns=["ID", "Id_usuario","Estado","Hora","Fecha","Ubicacion","Cant.","Mesas"],
        rows=reservas,
        row_height=50
    ) }}


{% endblock %}